/* Inherits body background */
.page-feature-block {
	padding: 50px 0;
	.constrain {
		max-width: 900px;
	}
	@mixin breakpx 0, 970px {
		overflow: hidden;
	}
	&.Left {
		.wrapper {
			.icon {
				left: -1%;
				@media (--small) {
					left: 0;
				}
			}
			.image-unit {
				float: left;
			}
			.text-unit {
				float: right;
				.btn {
					right: -4%;
					@media (--small) {
						right: 0;
					}
				}
			}
		}
	}
	&.Right {
		.wrapper {
			.icon {
				right: -1%;
				@media (--small) {
					right: 0;
				}
			}
			.image-unit {
				float: right;
			}
			.text-unit {
				float: left;
				.btn {
					left: -4%;
					@media (--small) {
						left: 0;
					}
				}
			}
		}
	}
	.wrapper {
		.icon {
			position: absolute;
			width: 170px;
			height: 170px;
			top: -50px;
			z-index: 0;
			@media (--small) {
				width: 100px;
				height: 100px;
				top: -40px;
			}
		}
		.image-unit {
			/*@mixin bgcover("");*/
			width: 55%;
			height: 400px;
			@media (--small) {
				width: 100%;
				float: none;
				height: 250px;
			}
		}
		.text-unit {
			width: 45%;
			color: #7e7e7e;
			background: #fff;
			padding: 20px 4%;
			height: 400px;
			position: relative;
			@media (--small) {
				float: none;
				width: 100%;
				height: auto;
			}
			.title {
				text-transform: uppercase;
				margin-bottom: 8px;
			}
			.richtext {
				p, span {
					font-size: 1.1em;
					font-weight: normal;
				}
			}
			.btn {
				position: absolute;
				bottom: 20px;
				@media (--small) {
					position: static;
					bottom: 0;
				}
				&:hover {
					background: var(--color-dark);
				}
			}
		}
	}
}